{% extends "fundo.html" %}

{% block content %}
<section class="about">
    <h1>This is Simple Plate!</h1>

    <p>
        Have you ever ran out of ideas when going to cook?<br>
        Have you ever wanted to try to cook a new dish?<br>
        Well, here is the place for you!<br>    
        <br>
        Our idea is to make an easy access for people to new ideas of plates,
        and to facilitate yor life!
    </p>
    <img src="/images/simple_logo.svg" alt="Simple Plate">    
</section>
<footer class="simple_footer">
    Simple Plate 2021 - Some rights reserved
</footer>
{% endblock %}
