<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title></title>

        <meta property="og:type" content=""/>
        <meta property="og:title" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:image" content=""/>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>

    <body>
        <header class="header">
            <div class="container header-content">
                <!-- brand symbol -->
                <a href="/">
                    <img src="/images/simplePlateLogo.svg" alt="Simple Plate">
                </a>
                <nav class="header_menu">
                    <ul>
                        <li><a href="/">Plates</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/newplate">New plate</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}
    </body>