<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title></title>

        <meta property="og:type" content=""/>
        <meta property="og:title" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:image" content=""/>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">


    </head>
    <body>
        <!-- header -->
        <header class="header">
            <div class="container header-content">
                <!-- brand symbol -->
                <a href="">
                    <img src="/images/logo.svg" alt="Simple Plate">
                </a>
                <nav class="header_menu">
                    <ul>
                        <li>Plates</li>
                        <li>About</li>
                        <li>New plate</li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="content">
            <!-- plates menu -->
            <section id="plates-menu" class="plates_menu">
                <div class="search-bar">
                    <input id="search-bar"type="text" placeholder="Search plate">
                    <!-- <button> <img src="./src/images/Vector.svg" alt="search"></button> -->
                    <input type="image" src="/images/Vector.svg" alt="submit-search" class="search-button">

                </div>               
                <!-- <a href="#" class="plate">
                    <h2>Garlic Steak and Potatoes</h2>
                    <p>15 minutes, Serves 2</p>
                </a>
                
                <a href="#" class="plate active">
                    <h2>Spaghetti</h2>
                    <p>15 minutes, Serves 2</p>
                </a>

                <a href="#" class="plate">
                    <h2>Yakissoba</h2>
                    <p>15 minutes, Serves 2</p>
                </a>
                
                <a href="#" class="plate">
                    <h2>Yakissoba</h2>
                    <p>15 minutes, Serves 2</p>
                </a> -->
            </section>

            <!-- main plate -->
            <section  id="container">
                <div class="main-plate">

                    <div id="main-header" class="main-header">
                        <div class="main-header-info">
                            <div class="main-plate-name">
                                Garlic Steak and Potatoes
                
                            </div>
                
                            <div class="stars">
                                <img src="/images/Star.svg" alt="rate">
                            </div>
                
                            <div class="time-serves-address">
                                <p>
                                    <img src="/images/clock.svg" alt="time">
                                    25 min
                                </p>
                                <p>
                                    <img src="/images/plate.svg" alt="serves">               
                                    serves 2
                                </p>
                                <p>
                                    <img src="/images/fast-food.svg" alt="address">                            
                                    Rua Bragança Paulista 1336
                                </p>
                            </div>
                        </div>
            
                        <img class="plate-image" src="https://www.eatwell101.com/wp-content/uploads/2018/03/Garlic-Butter-flank-Steak-and-Potatoes-Skillet.jpg" alt="">
                    </div>


                    <div id="main-other-info" class="main-other-info">
                        <div class="ingredients">
                            <h3>Ingredients</h3>
                            <ul>
                                <li>Onions</li>
                                <li>Lamen</li>
                                <li>Eggs</li>
                                <li>Water</li>
                                <li>Onions</li>

                            </ul>
                        </div>

                        <div class="instructions">
                            <h3>Instructions</h3>
                            <p>Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore 
                                et dolore magna aliqua.</p>
                        </div>
                    </div>                
                </div>
            </section>
        </div>
        <script type="text/javascript" src="/plates.js"></script>
        <script src="/helpers.js"></script>

</body>
</html>